
@font-face {
    font-family: myCatF;
    src: url("font/catH.ttf")
}

.cat1{
    font-family: myCatF;
    color:#f00;
}

@font-face {
    font-family: mySweet;
    src: url("font/tiantian.ttf")
}

.sweet{
    font-family: mySweet;
    color:#FF891F;
}

@font-face {
    font-family: myHoney;
    src: url("font/heart.ttf")
}
.honey{
    font-family: myHoney;
    color:#FFE379;
}

@font-face {
    font-family: myFlower;
    src: url("font/tiantian.ttf")
}

.flower{
    font-family: myFlower;
    color:#0f0;
}

@font-face {
    font-family: Evil;
    src: url("font/evil.ttf")
}

.evil{
    font-family: Evil;
    color:#00FFF0;
}

@font-face {
    font-family: blank;
    src: url("font/blank.ttf")
}

.blank{
    font-family: blank;
    color:#1FD1FF;
}

@font-face {
    font-family: wing;
    src: url("font/wing.ttf")
}

.wing{
    font-family: wing;
    color:#AA00FF;
}
